@import '../../scss//utils/mixins';

.noticeFormBlock{
    margin: 0 auto;
    width: 280px;
    display: grid;
    padding: 40px 20px;

    background-color: var(--white-bg);
    border-radius: var(--border-radius);
}

.noticeForm {
    width: 240px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.noticeFormTitle{
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-text-cl);
    @include fonts(24px, 700, 1.3, 0.04em);
    
    @include mq(tablet) {
        @include fonts(36px, 500, 1.3, 0.04em);
    }
}

.noticeFormText{
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
@include fonts(16px, 500, 1.3, -0.01em);
color: var(--black-text-cl);
}


.noticeInputTitle{
    margin-bottom: 8px;
    color: var(--black-text-cl);
    @include fonts(18px, 500, 1.2, 0);
}

.noticeFormInput{
    outline: none;
    box-sizing: border-box;
    justify-self: center;
    width: 240px;
    height: 40px;
    padding-left: 14px;
    margin-bottom: 16px;
    
    background-color: var(--main-bg-cl);
    border: 1px solid rgba(245, 146, 86, 0.5);
    border-radius: var(--border-radius);
    
    @include mq(tablet) {
        width: 448px;
        padding-left: 32px;
    }
    
    @include mq(desktop) {
        width: 458px;
    }
}

.reqiuredFieldForm{
    color: var(--accent-cl);
}

//--------------------radio input
//styles for <fieldset>
.inputWrapper {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0 0 32px 0;

    & .noticeSexPetTitle {
        margin-bottom: 18px;
        color: var(--black-text-cl);
        @include fonts(18px, 500, 1.2, 0);
    }
}

.radioInput {
    opacity: 0;
    position: absolute;

    &:checked+.noticeInputRadioTitle {
        color: var(--accent-cl)
    }

    &:checked+.fiterInputTitle {
        color: var(--white-text-cl);
        background-color: var(--accent-cl);
    }

}
//***filter

.fiterInputTitle{
    display: inline-block;
    padding: 8px 24px;
    border: 2px solid var(--accent-cl);
    border-radius: var(--border-radius);
    color: var(--black-text-cl);
    @include fonts (14px, 500, 1.3, 0.04em);
    .radioInput+&{
        margin-bottom:8px;   
    }
    
}


//***sexPet 
.noticeInputRadioTitle{
    @include fonts(18px, 500, 1.3, 0);
    color: var(--black-text-cl);
    &>.noticeFormInputRadio:checked{
        color: var(--accent-cl);
    }
}

.sexPetCheckWrapper{
    display: flex;
    align-items: baseline;
    &>div{
        margin-right: 39px;
    }
}


.sexPetIconMale{
    margin-bottom: 14px;
}

.sexPetIconFemale {
    margin-bottom: 12px;
}

//============end radio input block


//-------------img input 
.imgPetInput{
    visibility: hidden;
    width: 0;
    height: 0;
}

//<label>
.imgPetIcon{
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 116px;
    height: 116px;
    padding: 33px;
    border-radius: 20px;
    background-color: var(--main-bg-cl);
}
//=============end img input

.noticeFormNextBtn{
    margin-top: calc(40px - 16px);
}

.noticeFormCancelBtn {
    margin-top: 12px;
}


//------------------input errors
%inputError{
position: absolute;
    // left: 5%;
    @include fonts(10px, 500, );
    color: red;
}

.inputErrorTitleAd{
   @extend %inputError;
   top:25.5%
}

.inputErrorNamePet {
    @extend %inputError;
    top: 41%;
}
.inputErrorTitleAd {
    @extend %inputError;
    top: 25.5%
}
.inputErrorTitleAd {
    @extend %inputError;
    top: 25.5%
}


//==================input errors END
