@import '../../scss//utils/mixins';

.noticeFormBlock{
    margin: 0 auto;
    width: 280px;
    display: grid;
    padding: 40px 20px;

    background-color: var(--white-bg);
    border-radius: var(--border-radius);
}

.noticeForm {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.noticeFormTitle{
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-text-cl);
    @include fonts(24px, 700, 1.3, 0.04em);
    
    @include mq(tablet) {
        @include fonts(36px, 500, 1.3, 0.04em);
    }
}

.noticeFormText{
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
@include fonts(16px, 500, 1.3, -0.01em);
color: var(--black-text-cl);
}


.noticeInputTitle{
    margin-bottom: 8px;
    color: var(--black-text-cl);
    @include fonts(18px, 500, 1.2, 0);
}

.noticeFormInput{
    outline: none;
    box-sizing: border-box;
    justify-self: center;
    width: 240px;
    height: 40px;
    padding-left: 14px;
    margin-bottom: 16px;
    
    background-color: var(--main-bg-cl);
    border: 1px solid rgba(245, 146, 86, 0.5);
    border-radius: var(--border-radius);
    
    @include mq(tablet) {
        width: 448px;
        padding-left: 32px;
    }
    
    @include mq(desktop) {
        width: 458px;
    }
}

.reqiuredFieldForm{
    color: var(--accent-cl);
}

//stykes for <fieldset>
.inputWrapper{
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0 0 16px 0;
}

//--------redio input block
.noticeInputRadioTitle{
    @include fonts(18px, 500, 1.3, 0);
    color: var(--black-text-cl);
    &>.noticeFormInputRadio:checked{
        color: var();
    }
}

%sexPetInput{
opacity: 0;
&:checked+.noticeInputRadioTitle {
        color: var(--accent-cl)
    }
}

.sexPetInputMale{
   @extend %sexPetInput;
   &+.noticeInputRadioTitle::before{
content: url('../../images/male-icon.png')
   }
}

.sexPetInputFemale{
    @extend %sexPetInput;
    &+.noticeInputRadioTitle::before {
            content: url('../../images/female-icon.png')
        }
}
//============end radio input block


//-------------img input 
.imgPetInput{
    visibility: hidden;
    width: 0;
    height: 0;
}

//<label>
.imgPetIcon{
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 116px;
    height: 116px;
    padding: 33px;
    border-radius: 20px;
    background-color: var(--main-bg-cl);
}
//=============end img input

.noticeFormNextBtn{
    margin-top: calc(40px - 16px);
}

.noticeFormCancelBtn {
    margin-top: 12px;
}
