@import '../../scss//utils/mixins';

$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;

.noticeFormBlock {
  margin: 0 auto;
  width: 280px;
  display: grid;
  padding: 40px 20px 30px;

  background-color: var(--white-bg);
  border-radius: var(--border-radius);
  @include mq(tablet) {
    max-height: 100vh;
    width: 548px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.noticeForm {
  width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include mq(tablet) {
    width: 468px;
  }
}

.noticeFormTitle {
  text-align: center;
  margin-bottom: $spacing-sm;
  color: var(--main-text-cl);
  @include fonts(19px, 700, 1.3, 0);

  @include mq(tablet) {
    @include fonts(22px, 600, 1.3, 0);
  }
}

.noticeFormText {
  margin-bottom: $spacing-md;
  text-align: center;
  justify-content: center;
  @include fonts(16px, 500, 1.3, -0.01em);
  color: var(--black-text-cl);
}

.noticeInputTitle {
  position: relative;
  margin-bottom: 12px;
  color: var(--black-text-cl);
  @include fonts(14px, 500, 1.2, 0);
  & ~ textarea {
    resize: none;
    @include mq(tablet) {
      border-radius: 20px;
      height: 70px;
    }
  }
}

.noticeFormInput {
  outline: none;
  box-sizing: border-box;
  justify-self: center;
  width: 240px;
  height: 35px;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  margin-bottom: $spacing-sm;
  font-size: 14px;

  background-color: var(--main-bg-cl);
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: var(--border-radius);

  @include mq(tablet) {
    width: 468px;
    // max-width: 488px;
    padding-left: 16px;
    margin-bottom: $spacing-sm;
  }
  &[name='breed'],
  &[name='comments'] {
    margin: 0;
  }
  &[name='comments'] {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 14px;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.noticeFormInputDate[type='date'] {
  @extend .noticeFormInput;
  position: relative;
  display: flex;
  justify-content: flex-start;
  // width: 240px;

  &::-webkit-calendar-picker-indicator {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.reqiuredFieldForm {
  color: var(--accent-cl);
}

//--------------------radio input
//styles for <fieldset>
.inputWrapper {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0 0 $spacing-md;
  & .noticeSexPetTitle {
    margin-bottom: 50px;
    color: var(--black-text-cl);
    @include fonts(16px, 500, 1.2, 0);
    @include mq(tablet) {
      // margin-bottom: 90px;
    }
  }
}

%radioInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.radioInputFilter {
  @extend %radioInput;
  cursor: pointer;
  &:checked + label {
    color: var(--white-text-cl);
    background-color: var(--accent-cl);
  }
}

//***filter
%filterInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 6px 15px;
  border: 2px solid var(--accent-cl);
  border-radius: var(--border-radius);
  color: var(--black-text-cl);
  @include fonts(14px, 500, 1.3, 0.04em);
  @include mq(tablet) {
    padding: 10px 20px;
  }
}

.filterLostFound {
  cursor: pointer;
  @extend %filterInput;
  margin-bottom: 8px;
  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.filterInGoodHands {
  cursor: pointer;
  @extend %filterInput;
  @include mq(tablet) {
    margin: 0 20px;
  }
}

.filterSell {
  cursor: pointer;
  @extend %filterInput;
  margin-left: 8px;
  @include mq(tablet) {
    margin-left: 0;
    margin-top: 16px;
  }
}

//***sexPet
.radioInputSex {
  @extend %radioInput;

  &:checked + .noticeInputRadioTitle {
    color: var(--accent-cl);
  }
}

.noticeInputRadioTitle {
  cursor: pointer;
  @include fonts(14px, 500, 1.3, 0);
  position: relative;
  color: var(--black-text-cl);
  padding-top: 5px;
  & > .noticeFormInputRadio:checked {
    color: var(--accent-cl);
  }
  &::before {
    content: '';
    position: absolute;
    background-image: url('../../images/addNotice/male-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 0;
    width: 100%;
    height: 35px;
    aspect-ratio: 1/1;
    transform: translateY(-100%);
  }
  &[for='femalePet'] {
    &::before {
      background-image: url('../../images/addNotice/female-icon.png');
    }
  }
}

.sexPetCheckWrapper {
  display: flex;
  align-items: baseline;
  & > div {
    margin-right: 39px;
    @include mq(tablet) {
      margin-right: 83px;
    }
  }
}

.sexPetIconMale {
  margin-bottom: 14px;
  @include mq(tablet) {
    margin-bottom: 23px;
  }
}

.sexPetIconFemale {
  margin-bottom: 12px;
  @include mq(tablet) {
    margin-bottom: 20px;
  }
}

//============end radio input block

//-------------img input
.imgPetInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

//<label>
.imgPetIcon {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  // width: 116px;
  // height: 116px;
  padding: $spacing-sm;
  border-radius: $spacing-sm;
  background-color: var(--main-bg-cl);
  @include mq(tablet) {
    // width: 140px;
    // height: 140px;
    // padding: px;
  }
}

.addedImg {
  overflow: hidden;
  width: 116px;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  @include mq(tablet) {
    width: 140px;
    height: 140px;
  }
  & > img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}
//=============end img input

.noticeFormNextBtn {
  margin-top: calc(40px - 16px);
}

.noticeFormCancelBtn {
  margin-top: 12px;
}

//------------------input errors
.inputError {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  @include fonts(10px, 500);
  color: red;
}

.btnBlock {
  margin: $spacing-lg auto 0;
  display: grid;
  grid-gap: $spacing-sm;

  @include mq(tablet) {
    grid-template: 44px / 180px 10px 180px;
  }
}

.btnAccent {
  padding: 6px 101px;
  width: 240px;
  transition: all var(--fast-animation) ease-in-out;
  @include mq(tablet) {
    @include fonts(20px, 500, 1.3, 0.04em);
    width: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8.5px 65px;
    max-width: 180px;
    height: 44px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-cl-active);
    border-color: var(--accent-cl-active);
  }
}

.btnSec {
  padding: 6px 92px;
  color: var(--white-bg);
  background-color: var(--accent-cl);
  transition: all var(--fast-animation) ease-in-out;
  @include mq(tablet) {
    @include fonts(20px, 500, 1.3, 0.04em);
    grid-column: 3;
    padding: 8px 50px;
    max-width: 180px;
    height: 44px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-cl-active);
    border-color: var(--accent-cl-active);
  }

  &:disabled {
    background-color: var(--accent-cl);
    border-color: var(--accent-cl);
    cursor: default;
    filter: blur(2px);
  }
}
