@import '../../scss/utils/mixins';
.modalBox {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}


.modalBoxText {
   margin-top: 20px;
   @include fonts(28px);
}

.modalBoxLink {
  margin-left: 110px;
  color: rgb(25, 84, 232); 
  @include fonts(20px);
}