@import '../../scss//utils/mixins';
.petsList:not(:last-child){
    margin-bottom: 20px;
}
.text{
    margin-left: 20px;
    @include fonts(16px,500,1.33);
    @include mq(tablet){
        margin-left: 34px;
    }
}