@import '../../scss/utils/mixins';
.wrapper {
  padding: 61px 0 80px;
  width: 320px;
  margin: 0 auto;
  @include mq(tablet) {
    width: 736px;
    padding: 88px 0 0 0;
    position: relative;
    margin: 0;
  }
  @include mq(desktop) {
    display: flex;
    // width: 1264px;
  }
}
.titleInfo,
.titlePets {
  @include fonts(20px, 500, 1.35);
  color: var(--black-text-cl);
  @include mq(tablet) {
    @include fonts(28px);
  }
  @include mq(desktop) {
    position: absolute;
  }
}
.titleInfo {
  margin-bottom: 18px;
  // padding-left: 20px;
  margin-left: 20px;
  @include mq(tablet) {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    margin-left: 16px;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
}
.titlePets {
  margin: 47px 0 32px 20px;
  display: inline-block;
  flex-wrap: nowrap;
  @include mq(tablet) {
    margin: 20px 33px 24px;
  }
  @include mq(desktop) {
    top: 0;
    left: 393px;
    margin: 0;
  }
}
.btnWrapper {
  position: relative;
  margin-left: 62px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include mq(tablet) {
    margin: 0;
    position: absolute;
    top: 88px;
    right: 0;
  }
  @include mq(desktop) {
    top: 0;
    right: -465px;
    margin: 0;
  }
}
.addPetText {
  @include fonts(20px, 500, 1.35);
  color: var(--main-text-cl);
  display: inline-block;
  margin-right: 10px;
  @include mq(desktop) {
    margin-right: 15px;
  }
}

.addPetBtn {
  width: 40px;
  height: 40px;
  background-color: var(--accent-cl);
  padding: 0;
  border: 0;
  background-image: url('../../images/add-white.svg');
  background-repeat: no-repeat;
  background-position: center;
}
