// not correct
.animalListItem {
  position: relative;
  width: 288px;
  margin-right: 32px;
  margin-bottom: 32px;
  flex-basis: calc((100% - 128px) / 4);
  background-color: var(--white-text-cl);
  border-radius: 0px 0px 40px 40px;
  box-shadow: var(--input-shadow);
  @include mq(tablet-only) {
    width: 336px;
    flex-basis: calc((100% - 64px) / 2);
  }
  @include mq(mobile-only) {
    width: 280px;
    flex-basis: calc((100% - 32px) / 1);
  }
}
