@import '../../scss/utils/mixins';

button[data-active] {
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--main-bg-cl);
  background-image: url('../../images/penBlack.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include mq(tablet) {
    width: 32px;
    height: 32px;
  }

  &[data-active='true'] {
    background-image: url('../../images/okIcon.svg');
  }
}

button:disabled {
  cursor: not-allowed;
  filter: blur(1px) opacity(0.6);
}
