@import '../../scss/utils/mixins';

// button[data-active='false'] {
// padding: 3px !important;
// width: 20px !important;
// height: 20px !important;
// border: 1px solid transparent !important;
// border-radius: 50% !important;
// cursor: pointer !important;
// background-color: var(--main-bg-cl) !important;
// background-image: url('../../images/penBlack.svg') !important;
// background-repeat: no-repeat !important;
// background-position: center !important;
//   @include mq(tablet) {
//     width: 32px !important;
//     height: 32px !important;
//   }
// }

// button[data-active='true'] {
// padding: 3px !important;
// width: 20px !important;
// height: 20px !important;
// border: 1px solid transparent !important;
// background-color: var(--main-bg-cl) !important;
//   background-image: url('../../images/okIcon.svg');
//   background-repeat: no-repeat !important;
//   background-position: center !important;
//   @include mq(tablet) {
//     width: 32px !important;
//     height: 32px !important;
//   }
// }

button[data-active] {
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--main-bg-cl);
  background-image: url('../../images/penBlack.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include mq(tablet) {
    width: 32px;
    height: 32px;
  }

  &[data-active='true'] {
    background-image: url('../../images/okIcon.svg');
  }
}

button:disabled {
  cursor: not-allowed;
  filter: blur(2px) opacity(0.5);
}
