.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  // padding-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  @include mq(mobile) {
    max-width: 320px;
  }

  @include mq(tablet) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
