.loadMoreBtn {
  display: block;
  margin: 0 auto;

  &:disabled {
    cursor: none;
    filter: blur(1px);

    &:hover {
      color: var(--accent-cl);
      background-color: var(--white-bg);
    }
  }
}
