
.animalList {
       display: flex;
       flex-wrap: wrap;
       margin-right: -32px;
       margin-bottom: -32px;
       // margin-left: auto;
       // margin-right: auto;
       // justify-content: center;     
}