@import '../../scss/utils/mixins';
.logOutBtn {
  margin-top: 42px;
  display: flex;
  width: 89px;
  border: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../../images/logOutIcon.svg');
  background-repeat: no-repeat;
  background-position: 4% 50%;
  &:hover,
  &:focus {
    background-color: var(--white-bg);
    color: var(--main-text-cl);
  }
}
.logOutText {
  @include fonts(16px, 500, 1.3);
  color: var(--light-txt-cl);
}

.logOutModalText {
  @include fonts(18px, 500, 1.3);
}

.wrapper {
  @include gradient(
    rgba(165, 80, 56, 0.432),
    rgba(235, 232, 49, 0.37),
    90deg,
    url('../../images/cat.svg')
  );

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px 20px 30px;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
}

.buttonBox {
  margin-top: 20px;
}

.button {
  background-color: transparent;
  border: 4px solid #e19248;
}
