@import '../../../scss/utils/mixins';

.noticesSearchBox {
  display: inline-block;
  margin-bottom: 28px;
  margin-left: auto;
  @include mq(tablet) {
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    margin-left: 300px;
  }
}
.lable {
  margin-top: 54px;
  margin-bottom: 28px;
  //   margin-left: 35px;
  text-align: center;
  @include fonts(24px, 700, 1.4);
  color: var(--main-text-cl);
  @include mq(tablet) {
    margin-bottom: 40px;

    //  margin-left: -35px;
    @include fonts(48px, 700, 1.4);
  }
}

.input {
  width: 280px;
  height: 40px;
  padding-left: 12px;
  background-color: var(--white-text-cl);
  border-radius: var(--border-radius);
  border: 0;
  box-shadow: var(--input-shadow);
  background-image: url(./Svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: 250px 13px;
  @include mq(tablet) {
    width: 608px;
    height: 44px;
    padding-left: 20px;
    background-position: 575px 13px;
  }

  &::placeholder {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
    @include fonts(16px, 500, 1.3);
    color: var(--input-text-cl);
    @include mq(tablet) {
      @include fonts(20px);
      padding-left: 20px;
    }
  }
  &:focus {
    outline: none;
  }
}
