@import '../../scss//utils/mixins';

.formBlock {
    box-sizing: border-box;
    padding: 42px 20px;
    display: grid;
    background-color: var(--main-bg-cl);

    @include mq(tablet) {
        width: 608px;
        padding: 60px 80px;

        margin: 173px auto 0;
        background-color: var(--white-bg);
        box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
        border-radius: var(--border-radius);
    }
        @include mq(desktop){
            width: 618px;
            margin-top: 93px;
        }
}

.formTitle {
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-text-cl);
    @include fonts(24px, 700, 1.3, 0.04em);

    @include mq(tablet) {
        @include fonts(36px, 500, 1.3, 0.04em);
    }
}

.registerForm {
    display: grid;
    grid-template-rows: 40px 40px 40px 1fr;

    position: relative;
    grid-gap: 16px 0px;
    justify-self: center;
    @include mq(tablet) {
            grid-template-rows: 52px 52px 52px 1fr;;
        }
}

.loginForm {
    display: grid;
    grid-template-rows: 40px 40px 1fr;

    position: relative;
    grid-gap: 16px 0px;
    justify-self: center;
}

.formInput {
    outline: none;
    box-sizing: border-box;
    justify-self: center;
    width: 280px;
    padding: 14px;

    font-size: 14px;
    background-color: var(--main-bg-cl);
    border: 1px solid rgba(245, 146, 86, 0.5);
    border-radius: var(--border-radius);
    @include fonts(14px, 400, 1.3 0.04em);

    @include mq(tablet) {
        width: 448px;
        padding-left: 32px;
        font-size: 18px;
    }

    @include mq(desktop) {
        width: 458px;
        
    }
}

/* =================input errors =====================*/
%invalidInput {
    position: absolute;
    left: 5%;
    font-size: 11px;
    letter-spacing: 0.04em;
    color: red;
}

.inputErrorEmail {
    @extend %invalidInput;
    top: -6%;
    @include mq(tablet){
        top: -5%
    }
}

.inputLoginErrorEmail {
    @extend %invalidInput;
    top: -8%
}

.inputErrorPassword {
    @extend %invalidInput;
    top: 17%;
    @include mq(tablet) {
        top: 20%
    }
}

.inputLoginErrorPassword {
    @extend %invalidInput;
    top: 24%
}

.inputErrorConfirmPassword {
    @extend %invalidInput;
    top: 41.2%;
    @include mq(tablet) {
            top: 44.5%
        }
}

.inputErrorName {
    @extend %invalidInput;
    top: -5%;
    @include mq(tablet){
        top: -4%;
    } 
}

.inputErrorLocation {
    @extend %invalidInput;
    top: 14%;
    @include mq(tablet) {
    top: 16%;
    }
}

.inputErrorPhone {
    @extend %invalidInput;
    top: 33%;
    @include mq(tablet) {
        top: 36.5%;
    }
}

/* =================input errors END=====================*/

.formBtn {
    background-color: var(--accent-cl);
    justify-self: center;
    align-self: flex-start;
    width: 280px;
    text-align: center;
    // margin-top: calc(40px - 16px);
    color: var(--white-text-cl);
    border: none;
    @include fonts(20px, 500, 1.3, 0.04em);
    &:hover,
    &:focus {
        background-color: var(--accent-cl-active);
        border-color: var(--accent-cl-active);
    }
}
.btnBlock{
    margin-top: calc(40px - 16px);
    display: grid;
    grid-gap:12px;
    @include mq(tablet) {
    }
}
.formBtnBck {
    text-align: center;
    background-color: var(--main-bg-cl);
    justify-self: center;
    align-self: flex-start;
    width: 280px;
    color: var(--accent-cl);
    // border: none;
    @include fonts(20px, 500, 1.3, 0.04em)
}

.linkToPage {
    @include fonts(12px, 400, 1.3, 0.04em);
    text-align: center;
    margin-top: 40px;
    &>.link{
        color: #3091EB;
    }
}

// .btnBlock {
//     margin: calc(40px - 16px) auto 0 auto;
//     display: grid;
//     grid-gap: 12px;

//     @include mq(tablet) {
//         grid-gap: 12px;
//         grid-template: 44px / 180px 10px 180px;
//     }
// }

// .btnBlock {
//     margin: calc(40px - 16px) auto 0 auto;
//     display: grid;
//     grid-gap: 12px;

//     @include mq(tablet) {
//         grid-gap: 12px;
//         grid-template: 44px / 180px 10px 180px;
//     }
// }

// .btnAccent {
//     padding: 9px 101px;
//     color: var(--white-bg);
//     background-color: var(--accent-cl);

//     @include mq(tablet) {
//         @include fonts(20px, 500, 1.3, 0.04em);
//         grid-column: 1;
//         justify-self: end;
//         padding: 8.5px 65px;
//         max-width: 180px;
//         height: 44px;
//     }

//     &:hover,
//     &:focus {
//         background-color: var(--accent-cl-active);
//         border-color: var(--accent-cl-active);
//     }
// }

// .btnSec {
//     padding: 9px 92px;
//     background-color: var(--main-bg-cl);
//     @include mq(tablet) {
//         @include fonts(20px, 500, 1.3, 0.04em);
//         grid-column: 3;
//         padding: 8px 50px;
//         max-width: 180px;
//         height: 44px;
//     }
// }