@import '../../scss/utils/mixins';
@import '../../scss/utils/variables';

.container {
  position: relative;
  width: fit-content;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  & button {
    padding: 8px 28px;
    font-size: 16px;
    color: var(--white-text-cl);
    background-color: var(--accent-cl);

    &:hover,
    :active {
      background-color: var(--accent-cl-active);
    }
  }
  @include mq(tablet) {
    padding-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #fff;
  color: var(--light-txt-cl);
  border: 2px solid var(--accent-cl);
  border-radius: var(--border-radius);
  box-shadow: var(--main-shadow);
  overflow: hidden;
  width: max-content;

  @include mq(desktop) {
    left: 100%;
    transform: translateX(-100%);
  }

  & li {
    display: flex;
    gap: 8px;
    padding: 8px 28px;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: var(--accent-cl);
      color: var(--white-text-cl);
    }

    & img {
      border-radius: 8px;
      overflow: hidden;
    }
  }
}

li.selected {
  background-color: var(--accent-cl-active);
  color: var(--white-text-cl);

  &:hover {
    cursor: default;
    background-color: var(--accent-cl-active);
  }
}
