@import '../../../scss/utils/mixins';

.signature {
  min-width: 158px;
  position: absolute;
  left: 0px;
  top: 20px;
  background-color: var(--transparent-bg);
  border-radius: 0px 20px 20px 0px;
}

.signature p {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
  @include fonts(12px, 500, 1.3);
  color: var(--main-text-cl);
}

.box {
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;
  @include mq(tablet) {
    margin-right: 24px;
    width: 704px;
  }
}
.box img {
  width: 240px;
  height: 240px;
  margin-bottom: 16px;
  border-radius: 0px 0px 40px 40px;
  @include mq(tablet) {
    min-width: 288px;
    min-height: 328px;
  }
}
.title {
  margin-bottom: 16px;
  @include fonts(28px, 700, 1.4);
  color: var(--black-text-cl);
  @include mq(tablet) {
    margin-left: 20px;
    margin-bottom: 12px;
    @include fonts(24px, 700, 1.4);
  }
}
.boxData {
  position: relative;
  @include fonts(14px, 500, 1.3);
  color: var(--black-text-cl);
  @include mq(tablet) {
    display: flex;
    margin-top: 8px;
    @include fonts(16px, 500, 1.3);
  }
}
.listParams {
  display: block;
  @include mq(tablet) {
    margin-left: 20px;
  }
}

.listParams li {
  display: flex;
  margin-top: 8px;
}

.name {
  margin-right: 71px;
}
.birthday {
  margin-right: 51px;
}

.breed {
  margin-right: 70px;
}

.place {
  margin-right: 73px;
}

.sex {
  margin-right: 56px;
}

.email {
  margin-right: 74px;
}

.phone {
  margin-right: 66px;
}

.sell {
  margin-right: 87px;
}
.comments {
  @include fonts(14px, 400, 1.3);
  color: var(--black-text-cl);
  margin-top: 28px;
  margin-bottom: 40px;
  @include mq(tablet) {
    @include fonts(16px, 400, 1.3);
    margin-top: 28px;
    margin-bottom: 32px;
  }
}
