@import '../../scss/utils/mixins';

.logo {
  width: 82px;

  // padding-left: 20px;
  bottom: 30px;

  @include mq(tablet) {
    width: 94px;
    padding-top: 0;
    // padding-left: 16px;
  }

  @include mq(desktop) {
    // padding-left: 16px;
  }
}
