@import '../../../scss/utils/mixins';

.signature {
  min-width: 158px;
  position: absolute;
  left: 0px;
  top: 20px;
  background-color: var(--transparent-bg);
  border-radius: 0px 20px 20px 0px;
}

.signature p {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
  @include fonts(12px, 500, 1.3);
  color: var(--main-text-cl);
}

.animalListItem {
  position: relative;
  width: 280px;
  margin-bottom: 32px;
  background-color: var(--white-text-cl);
  border-radius: 0px 0px 40px 40px;
  box-shadow: var(--input-shadow);
  @include mq(tablet) {
    width: 336px;
    margin-right: 32px;
    flex-basis: calc((100% - 32px) / 2);
  }
  @include mq(desktop) {
    width: 288px;
    flex-basis: calc((100% - 96px) / 4);
  }
}

.animalListItem:nth-child(4n) {
  @include mq(desktop) {
    margin-right: 0;
  }
}

.animalListItem:nth-child(2n) {
  @include mq(tablet-only) {
    margin-right: 0;
  }
}

.animalListImg {
  width: 280px;
  height: 288px;
  margin-bottom: 20px;
  @include mq(tablet) {
    width: 336px;
  }
  @include mq(desktop) {
    // width: 288px;
  }
}

.animalListTitle {
  @include fonts(28px, 700, 1.4);
  margin-left: 20px;
  margin-bottom: 12px;
  color: var(--main-text-cl);
}

.animalListBoxText {
  display: flex;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 8px;
  @include fonts(16px, 500, 1.4);
  color: var(--main-text-cl);
}

.breed {
  margin-right: 40px;
}

.place {
  margin-right: 40px;
}

.age {
  margin-right: 52px;
}

.price {
  margin-right: 44px;
}
.priceOpacity {
  opacity: 0;
}
.button {
  width: 248px;
  margin-left: 16px;
  margin-bottom: 32px;
  margin-top: 20px;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  @include mq(tablet) {
    margin-left: 30px;
  }
  @include mq(desktop) {
    margin-left: 17px;
  }
}

.like {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-size: 15px;
  padding: 0;
  background-color: var(--transparent-bg);
  background-image: url(./Svg/like.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 0;
  @include mq(tablet) {
    width: 44px;
    height: 44px;
    background-size: 24px;
  }
}

// .isActivLike {
// //  background-color: var(--accent-cl); 
// position: absolute;
//   top: 12px;
//   right: 12px;
//   width: 24px;
//   height: 24px;
//   background-size: 15px;
//   padding: 0;
//   background-color: var(--accent-cl);
//   background-image: url(./Svg/like.svg);
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   border-radius: 50%;
//   border: 0;
//   @include mq(tablet) {
//     width: 44px;
//     height: 44px;
//     background-size: 24px;
//   }
// }

.remove {
  position: absolute;
  top: 252px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-size: 15px;
  padding: 0;
  background-color: var(--transparent-bg);
  background-image: url(./Svg/remove.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 0;
  @include mq(tablet) {
    width: 44px;
    height: 44px;
    top: 232px;
    right: 12px;
    background-size: 24px;
  }
}
