@import '../../scss//utils//mixins';

.authNav {
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 46px;

    @include mq(tablet) {
      // position: absolute;
      top: 16px;
      right: 102px;
      margin-top: 0;
    }
    @include mq(desktop) {
      right: 40px;
    }
  }

  &__item {
    & > a {
      display: block;
      padding: 8px 28px;
      background-color: #fff;
      border: 2px solid var(--accent-cl);
      border-radius: 40px;

      &.active {
        background-color: var(--accent-cl);
        color: #fff;
      }

      &:hover,
      &:focus {
        background-color: var(--accent-cl);
        color: #fff;
      }
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

// .authBtn {
//   & a {

//   }
// &:hover,
// &:focus {
//   background-color: var(--accent-cl);
//   color: #fff;
// }
// }
