.btn {
  padding: 10px 28px;
  border-radius: var(--border-radius);
  background-color: var(--white-bg);
  cursor: pointer;
  border: solid 2px var(--accent-cl);
  &:hover,
  &:focus {
    background-color: var(--accent-cl);
    color: var(--white-bg);
  }
}
