@import '../../scss/utils/mixins';

.wrapper {
  width: 280px;
  background-color: var(--white-bg);
  padding: 20px 14px;
  position: relative;
  border-radius: 20px;
  box-shadow: 7px 4px 14px 0 rgba(0, 0, 0, 0.11);
  text-align: center;
  @include fonts(12px 400 1.33);
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
  margin: 0 auto;
  @include mq(tablet) {
    width: 736px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 24px 40px 24px 32px;
    border-radius: 0 40px 40px 0;
    margin: 0;
  }
  @include mq(desktop) {
    width: 411px;
    height: max-content;
    padding: 20px 16px 40px;
    display: block;
  }
}

.userImageWrapper {
  @include gradient;
  width: 233px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include mq(tablet-only) {
    height: 233px;
  }
  @include mq(desktop) {
    margin: 0 auto;
  }
}

.userPhoto {
  object-fit: cover;
  @include mq(tablet-only) {
    width: 100%;
    height: 100%;
  }
}

.btnEditPhoto {
  position: absolute;
  top: 265px;
  right: 23px;
  border: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  width: 140px;
  height: 22px;
  background-image: url('../../images/camera.svg');
  background-repeat: no-repeat;
  background-position: 8% 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--black-text-cl);
  }
  @include mq(tablet) {
    bottom: 0;
    right: 40px;
  }
  @include mq(desktop) {
    right: 16px;
    top: 238px;
  }
}
.editPhoto {
  @include fonts(12px, 400, 1.33);
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include mq(tablet) {
    display: block;
  }
}
.list {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(tablet) {
    margin-top: 20px;
  }
  @include mq(tablet) {
    margin-top: 32px;
  }
}
.listItem {
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @include mq(tablet) {
    max-width: 379px;
    @include fonts(18px, 500);
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.listText {
  display: block;
  text-align: left;
  width: 35%;
}
.inputWrapper {
  // margin-left: 5px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(tablet) {
    width: 260px;
  }
}
.inputField {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 40px;
  padding: 4px 10px;
  // width: 165px;
  resize: none;
  width: 84%;
  &:focus {
    outline: none;
  }
}
.inputFieldActive {
  border: 1px solid rgba(245, 146, 86, 0.5);
  background-color: var(--main-bg-cl);
  border-radius: 40px;
  padding: 4px 18px;
}

.listItem .btnEdit {
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: var(--main-bg-cl);
  background-image: url('../../images/penBlack.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include mq(tablet) {
    width: 32px;
    height: 32px;
  }
}
.listItem .btnEditActive {
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: var(--main-bg-cl);
  background-image: url('../../images/okIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include mq(tablet) {
    width: 32px;
    height: 32px;
  }
}

input[type='date'] {
  width: 84%;
}

input:disabled::-webkit-calendar-picker-indicator {
  display: none;
}
