@import '../../scss/utils/mixins';
.wrapper {
  width: 280px;
  background-color: var(--white-bg);
  padding: 20px 23px;
  position: relative;
  border-radius: 20px;
  box-shadow: 7px 4px 14px 0 rgba(0, 0, 0, 0.11);
  @include mq(tablet) {
    width: 736px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 24px 40px 24px 32px;
    border-radius: 0 40px 40px 0;
  }
  @include mq(desktop) {
    width: 411px;
    padding: 20px 16px 40px;
    display: block;
  }
}
.userImg {
  border-radius: 50%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.11);
  height: 233px;
  @include mq(desktop) {
    margin: 0 auto;
  }
}

.btnEditPhoto {
  position: absolute;
  top: 265px;
  right: 23px;
  border: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  width: 95px;
  height: 22px;
  background-image: url('../../images/camera.svg');
  background-repeat: no-repeat;
  background-position: 8% 50%;
  &:hover,
  &:focus {
    background-color: var(--white-bg);
    color: var(--black-text-cl);
  }
  @include mq(tablet) {
    bottom: 0;
    right: 40px;
  }
  @include mq(desktop) {
    right: 16px;
    top: 231px;
  }
}
.editPhoto {
  @include fonts(12px, 400, 1.33);
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include mq(tablet) {
    display: block;
  }
  @include mq(desktop) {
    margin-top: 36px;
  }
}
.list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  @include mq(tablet) {
    // width: 379px;
    margin-top: 20px;
  }
}
.listItem {
  @include fonts(12px, 400, 1.33);
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: space-between;
  max-width: 252px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @include mq(tablet) {
    max-width: 379px;
    @include fonts(18px, 500, 1.38);
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.listText {
  min-width: 25%;
  @include mq(tablet) {
    min-width: 20%;
  }
}
.inputField {
  border: 0;
  &:focus {
    border: 1px solid rgba(245, 146, 86, 0.5);
    background-color: #fdf7f2;
    border-radius: 40px;
    padding: 4px 18px;
    max-width: 65%;
    // margin-right: 13px;
  }
  @include mq(tablet) {
    @include fonts(18px, 400, 1.38);
  }
}
.listItem .btnEdit {
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: var(--main-bg-cl);
  background-image: url('../../images/iconEdit.svg');
  background-repeat: no-repeat;
  background-position: center;
  @include mq(tablet) {
    width: 32px;
    height: 32px;
  }
}
