@import '../../scss//utils/mixins';
.imgBox {
  @include gradient;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(tablet) {
    width: 161px;
    height: 161px;
    border-radius: 40px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.petAvatar {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
  padding: 16px 20px 40px;
  border-radius: 20px;
  background-color: var(--white-bg);
  box-shadow: 7px 4px 14px 0 rgba(0, 0, 0, 0.11);
  @include mq(tablet) {
    width: 704px;
    display: flex;
    border-radius: 40px;
    padding: 20px;
    margin-left: 32px;
  }
  @include mq(desktop) {
    width: 821px;
  }
}
.listItem {
  @include fonts(14px, 500, 1.3);
  @include mq(tablet) {
    @include fonts(16px, 500, 1.3);
  }
}
.text {
  @include fonts(14px, 400, 1.3);
  display: inline;
  @include mq(tablet) {
    @include fonts(16px, 400, 1.3);
  }
}
.listItem:not(:last-child) {
  margin-bottom: 12px;
}
.wrapper .iconBtn {
  position: absolute;
  top: 272px;
  right: 0;
  border: 0;
  background-image: url('../../images/del-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    border: 0;
    background-color: var(--white-bg);
    background-image: url('../../images/del-orange.svg');
  }
  @include mq(tablet) {
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: var(--main-bg-cl);
    &:hover,
    &:focus {
      background-color: var(--main-bg-cl);
    }
  }
}
