@import "../../scss/utils/mixins";


.navigation > .burgerBtn {
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: var(--main-bg-cl);
    &:hover,
    &:focus{
        background-color: var(--main-bg-cl);
    }

    @include mq(tablet) {
        top: 30px;
        right: 60px;
    }

    @include mq(desktop) {
        display: none;
    }
}

.mobMenu {
    @include mq(tablet) {
            display: none;
        }
}

.tabMenu {
    display: none;
        @include mq(tablet) {
                display: block;
            }

        @include mq(desktop) {
            display: none;
        }
}

.deskMenu {
    display: none;
        @include mq(desktop) {
            display: block;
            }
}

