@import '../../scss/utils/mixins';

.navList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-bottom: 18px;
  @include mq(tablet) {
    margin-bottom: 44px;
  }
  @include mq(tablet-only) {
    width: 500px;
  }
  @include mq(desktop) {
    margin-left: 92px;
  }
}

.navList li {
  margin-left: 12px;
  margin-bottom: 12px;
  @include mq(tablet) {
    margin-bottom: 16px;
    // flex-basis: calc((100% - 12px) / 3);
  }
  @include mq(desktop) {
    margin-bottom: 12px;
  }
}

.button {
  @include fonts(14px, 500, 1.3);
  display: block;

  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--main-text-cl);
  background-color: var(--white-text-cl);
  border: 2px solid var(--accent-cl);
  border-radius: 40px;

  @include mq(tablet) {
    @include fonts(20px, 500, 1.3);
  }
  &:hover, &:focus {
   color: var(--white-text-cl);
  background-color: var(--accent-cl); 
  }
}

.favorite {
  @include mq(tablet) {
    margin-left: 8px;
  }
}

.sell {
  @include mq(desktop) {
    position: absolute;
    left: -102px;
  }
}

.carrentColor {
  color: var(--white-text-cl);
  background-color: var(--accent-cl);
//   border: 0;
}
