@import '../../scss/utils/mixins';

.addPetFormInput {
  outline: none;
  box-sizing: border-box;
  justify-self: center;
  width: 240px;
  height: 35px;
  margin-bottom: 12px;
  font-size: 14px;

  background-color: var(--main-bg-cl);
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: var(--border-radius);

  @include mq(tablet) {
    width: 468px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.locationWrapper {
  height: 94px;
}
